/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com/
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/ change colours to suit your needs / ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/ change colours to suit your needs / mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/ change border colour to suit your needs */ hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*
My Code
Author: Philip Montesantos
Ece NTUA
el17175
*/



/* HEADER */

header {
  background-color: #111;
  width: 100%;
  height: 80px;
}

.shadow-header{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .header-brand {
  width: 142px;
  height: 80px;
  margin: 0px 0;
  align: left;
  padding: 0px 20px 0px 25px;
  float: left;
}

header nav ul {
  margin: 20px 0px;
  float: left;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 16px;
}

header nav ul li a {
  font-family: Catamaran;
  font-size: 25px;
  color: #111;
  line-height: 60px;
  padding-right: 15px;
}



/* BUTTONS */

.login {
  position: absolute;
  padding-right: 120px;
  right: 0;
}

.login button{
  border: none;
  outline: none;
  height: 35px;
  width: 80px;
  color: #f3f3f3;
  background: #35312e;
  font-family: Catamaran;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login button:hover{
  background: #4f4b48;
  cursor: pointer;
}

.sign {
  position: absolute;
  padding-right: 30px;
  right: 0;
}

.sign button{
  border: none;
  outline: none;
  height: 35px;
  width: 80px;
  color: #f3f3f3;
  background: #35312e;
  font-family: Catamaran;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sign button:hover{
  background: #4f4b48;
  cursor: pointer;
}

.add {
  position: absolute;
  padding-right: 210px;
  right: 0;
}

.add button{
  border: none;
  outline: none;
  height: 35px;
  width: 35px;
  color: #f3f3f3;
  background: #35312e;
  font-family: Catamaran;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.add button:hover{
  background: #4f4b48;
  cursor: pointer;
}

/* HOME */

.home-chart{
  height: calc(100vh - 660px);
  padding-bottom: 550px;
}

.chartDiv{
  width: 600px;
  height: 500px;
  background: #111;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #111;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.home-page{
  height: calc(100vh - 330px);
  padding-top: 250px;
  padding-left: 100px;
  animation: glitch 1s linear infinite;
}

.home-page h1{
  font-family: Arvo;
  color: #f3f3f3;
  font-size: 50px;
  text-shadow: 2px 2px 3px #5bbdfe;

}

.home-page {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* SEARCH BOXES */

.search{
  border: none;
  border-bottom: 1px solid #35312e;
  background: transparent;
  outline: none;
  height:35px;
  width: 250px;
  font-family: Catamaran;
  font-size: 15px;
  color: #fff;
}

.searchbar{
}

/* BANNER */

.blank-banner{
  width: 100%;
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.vartical-center {
  display: table-cell;
  vertical-align: middle;
}

.image-banner{
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(images/galaxy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: table;
}

.blur-banner{
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(images/galaxy-blur.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: table;
}

/* FOOTER */

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

footer {
  width: calc(100% - 80px);
  padding: 40px 40px;
  background-color: #111;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a {
  font-family: Catamaran;
  font-size: 15px;
  color: #fff;
  line-height: 32px;
  text-decoration: none;
}

footer ul li a:hover {
  color: #c2c2c2;

}

.footer-sm {
  width: 40px;
  float: right;
}

/* LOGIN */

.loginbox{
  width: 350px;
  height: 375px;
  background: #111;
  color: #111;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.email{
  margin: 0;
  padding: 0;
  font-family: Catamaran;
  font-size: 18px;
  color: #fff;
}

.loginbox input{
  width: 200px;
  margin-bottom: 30px;
}

.input{
  border: none;
  border-bottom: 1px solid #35312e;
  background: transparent;
  outline: none;
  height: 40px;
  width: 200px;
  font-family: Catamaran;
  font-size: 15px;
  color: #fff;
}

  .loginbox button{
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    color: #f3f3f3;
    background: #35312e;
    font-family: Catamaran;
    font-size: 15px;
    border-radius: 5px;
    margin-top: -15px;
    margin-bottom: 5px;
  }

  .test-button{
    padding-top: 10px;
  }

  .loginbox button:hover{
    background: #4f4b48;
    cursor: pointer;
  }

  .loginbox a{
    text-decoration: none;
    font-family: Catamaran;
    color: #f3f3f3;
    margin-top: 5px;
  }

  .loginbox a:hover{
    color: #c2c2c2;
  }

.loginbox form{
  padding-top: 45px;
  padding-left: 75px;
  align-content: center;
}

.login-error{
  padding-top: 15px;
  text-decoration: none;
  font-family: Catamaran;
  color: #FF0000;
}

.second-text{
  padding-top: 12px;
}

/* Recovery */
.recoverybox{
  width: 350px;
  height: 350px;
  background: #111;
  color: #111;
  margin: auto;
  margin-top: 250px;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.recoverybox input{
  width: 200px;
  margin-bottom: 30px;
}


  .recoverybox button{
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    color: #f3f3f3;
    background: #35312e;
    font-family: Catamaran;
    font-size: 15px;
    border-radius: 5px;
    margin-top: -15px;
    margin-bottom: 5px;
  }


  .recoverybox button:hover{
    background: #4f4b48;
    cursor: pointer;
  }

  .recoverybox a{
    text-decoration: none;
    font-family: Catamaran;
    color: #f3f3f3;
    margin-top: 5px;
  }

  .recoverybox a:hover{
    color: #c2c2c2;
  }

.recoverybox form{
  padding-top: 45px;
  padding-left: 75px;
  align-content: center;
}

.space{
  padding-bottom: 40px;
}


/* Ask */

.addbox{
  width: 1000px;
  height: 700px;
  background: #111;
  color: #111;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addbox form{
  padding-top: 45px;
  padding-left: 100px;
  align-content: center;
}

.title{
  border: 1px solid #35312e;
  border-radius: 5px;
  background: transparent;
  outline: none;
  height:40px;
  width: 400px;
  font-family: Catamaran;
  font-size: 15px;
  color: #fff;
}
::placeholder{
  color: #606060;
}

.addbox input{
  margin-bottom: 30px;
  padding-left: 10px;
}

.addbox p{
  padding-bottom: 15px;
}

.body{
  border: 1px solid #35312e;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  background: transparent;
  outline: none;
  width: 800px;
  font-family: Catamaran;
  font-size: 15px;
  color: #fff;
}

.bodymass{
  padding-bottom: 30px;
}

.addbox button{
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  color: #f3f3f3;
  background: #35312e;
  font-family: Catamaran;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
}


.addbox button:hover{
  background: #4f4b48;
  cursor: pointer;
}

.desc{
  text-decoration: none;
  font-family: Catamaran;
  color: #606060;
  margin-top: -15px;
}

.form-button{
  padding-left: 100px;
}

/* PROFILE */


.profilebox{
  width: 300px;
  height: 300px;
  background: #111;
  color: #111;
  margin-left: 1325px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.profilebox input{
  width: 200px;
  margin-bottom: 30px;
}



  .profilebox button{
    border: none;
    outline: none;
    height: 40px;
    color: #f3f3f3;
    background: #35312e;
    font-family: Catamaran;
    font-size: 15px;
    border-radius: 5px;
  }


  .profilebox button:hover{
    background: #4f4b48;
    cursor: pointer;
  }

  .profilebox a{
    text-decoration: none;
    font-family: Catamaran;
    color: #f3f3f3;
    margin-top: 5px;
  }

  .profilebox a:hover{
    color: #c2c2c2;
  }

.profilebox form{
  padding-top: 45px;
  padding-left: 75px;
  align-content: center;
}

.profilename{
  font-family: Catamaran;
  font-size: 25px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 5px;
}

.questions{
margin-top: 15px;
width:200px;
}

.profile_links{
margin-top: -340px;
margin-bottom: 50px;

}

/* SIGN UP */

.signup-box{
  width: 350px;
  height: 540px;
  background: #111;
  color: #111;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 100px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-box input{
  width: 200px;
  margin-bottom: 30px;
}



  .signup-box button{
    border: none;
    outline: none;
    height: 40px;
    width: 100px;
    color: #f3f3f3;
    background: #35312e;
    font-family: Catamaran;
    font-size: 15px;
    border-radius: 5px;
    margin-top: -15px;
    margin-bottom: 5px;
  }


  .signup-box button:hover{
    background: #4f4b48;
    cursor: pointer;
  }

  .signup-box a{
    text-decoration: none;
    font-family: Catamaran;
    color: #f3f3f3;
    margin-top: 5px;
  }

  .signup-box a:hover{
    color: #c2c2c2;
  }

.signup-box form{
  padding-top: 45px;
  padding-left: 75px;
  align-content: center;
}

/* profile links */
.station-box{
  width: 700px;
  background: #111;
  color: #111;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.station-box h2{
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 20px;
  font-family: Catamaran;
  font-size: 25px;
  color: #fff;
  font-weight: bolder;
}

.station-box p{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Catamaran;
    font-size: 15px;
    color: #f3f3f3;
  }

  .station-box i{
      margin: 0;
      padding: 0;
      padding-top: 10px;
      padding-left: 20px;
      font-family: Catamaran;
      font-size: 15px;
      color: #111;
    }

    .station-box i:hover{
        color: #c2c2c2;
      }

    .station-box:hover{
      box-shadow: 0 0 1pt 1pt #f3f3f3;
    }

    .Link_Style{
      text-decoration: none;
    }


    /*  Question   */

    .Qbox{
      width: 700px;
      background: #111;
      color: #111;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.Qbox h2{
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  font-family: Catamaran;
  font-size: 25px;
  color: #fff;
  font-weight: bolder;
}

.Qbox h1{
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-family: Catamaran;
  font-weight: normal;
  font-size: 15px;
  color: #d3d3d3;
}

.Qbox p{
    line-height: 20pt;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Catamaran;
    font-size: 20px;
    color: #f3f3f3;
  }

  .Qbox i{
      margin: 0;
      padding: 0;
      padding-top: 10px;
      padding-left: 20px;
      font-family: Catamaran;
      font-size: 15px;
      color: #111;
    }

    .Qbox i:hover{
        color: #c2c2c2;
      }

  .Qbox form{
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 0px;
          align-content: center;
}

.A_test{
  width: 200px;
}

.A_test textarea{
  width: 625px;
}

.Qbox button{
  border: none;
  outline: none;
  height: 40px;
  width: 100px;
  color: #f3f3f3;
  background: #35312e;
  font-family: Catamaran;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-button-2{
  padding-left: 30px;
}

/* ANSWER BOX */
.answer_box{
  width: 700px;
  background: #111;
  color: #111;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.answer_box h2{
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 20px;
  font-family: Catamaran;
  font-size: 20px;
  color: #fff;
  font-weight: bolder;
}

.answer_box p{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Catamaran;
    font-size: 18px;
    color: #f3f3f3;
  }

  .answer_box i{
      margin: 0;
      padding: 0;
      padding-top: 10px;
      padding-left: 20px;
      font-family: Catamaran;
      font-size: 15px;
      color: #111;
    }

    .answer_box i:hover{
        color: #c2c2c2;
      }

      .answer_links{
      margin-top: 0px;
      padding-bottom: 50px;

      }

      .form-button-2 button:hover{
        background: #4f4b48;
        cursor: pointer;
      }

      .search_links{
      padding-top: 25px;
      padding-bottom: 50px;

      }

      .profile_links{
      margin-top: -340px;
      margin-bottom: 50px;

      }
